datasets/raw_data
*egg-info
logs
local_debug_results
__pycache__
backup/
raw_repositories
tmp/
sft/
log/
local_results/
self_reminder/
ppl/
goal_prioritization/
icd/
self_eval/
prompt_guard/
erase_and_check/
robust/
paraphrase/
smoothllm/
dro_res/
# examples/attack/results
examples/attack/logs
examples/attack/exp
overrefuse/
overrefusal/
safedecoding/
aligner/
.DS_Store
project_clean
datasets/_process_code
datasets/_processed_data
checkpoints/
aisafetylab/defense/training_defense/preprocess
wandb
